@media (max-width: 1920px){

}

@media (max-width: 1199px) {
    .header {
        .navbar {
        ul.navbar-nav {
          li {
          border-right: 1px dotted transparent;
        }
      }
    }
    .btn {
      margin: 1rem .5rem;
    }
  }
  .header .promo-header .promo-header__item {
    width: 290px;
  }
  .promo-price {
    .promo-price__item {
      width: 290px;
      margin: 0rem auto 2rem auto;
    }
    .promo-price__item-header {
      width: 290px;
    }
  }
  .consultation {
    .form__consultation-wrapper {
      width: 940px;
    }
    .form__consultation-wrapper .form__consultation-wrapper_mini .wrapper-img__linear {
      width: 940px;
    }
    .form__consultation-wrapper .wrapper__consultation_linear {
      width: 940px;
    }
  }
}

@media (max-width: 991px) {
  .header h1.title__main {
    font-size: 2.7em;
  }
  .header h2.subtitle {
    font-size: 1.7em;
  }
  .advantages .row .advantages__item .advantages__wrapper .advantages__title{
    font-size: 1em;
  }
  .advantages .row .advantages__item .advantages__wrapper .advantages__descr{
    font-size: .9em;
  }
  .consultation {
    height: 480px;
    .form__consultation-wrapper {
      width: 290px;
      height: 310px;
    }
    .form__consultation-wrapper .form__consultation-wrapper_mini .wrapper-img__linear {
      width: 288px;
    }
    .form__consultation-wrapper .wrapper__consultation_linear {
      width: 290px;
    }
  }
  .consultation .form__consultation-wrapper .form__consultation-wrapper_mini{
    height: 290px;
  }
  .consultation .form__consultation-wrapper{
    width: 290px;
    
  }
  .consultation .form__consultation-wrapper .form__consultation-wrapper_mini .glopt-form {
    width: 280px;
    input {
      margin: .6rem;
    }
  }

  .question{
    .question__form{
      .question-form{
        width: 290px;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
        width: 290px;
        }
        textarea{
          width: 290px;
          height: 115px;
        }
      }
    }
  }
  .map{
    .wrapper__info{
      position:absolute;
    top: 30%;
    left: 48%;
    }
  }
}

@media (max-width: 767px) {
  .header h3.subtitle__descr {
    font-size: .9em;
  }
  .header h1.title__main {
    font-size: 2em;
  }
  .header h2.subtitle {
    font-size: 1.2em;
  }
  .map{
    .wrapper__info{
      width: 290px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position:absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      .map__info{
        width: 282px;
        margin: 2.3rem 0.5rem 0rem 0rem;
        padding: 1rem 1.2rem;
        position: relative;
      }
        .map__info::before{
          display: none;
        }
        .map__info::after{
          content: ""; 
          border: solid transparent;
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          border-bottom-color: #ffffff;
          border-width: 20px;
          margin-left: -1px;
          z-index: 1;
      }
    }
  }
}

@media (max-width: 575px) {
  html {
    font-size: 7px;
  }
  body {
    font-size: 17px;
  }
  .header div.wrapper__circle-linear {
    display: none;
  }

  .header h1.title__main {
    font-size: 1.6em;
  }
  .header h2.subtitle {
    font-size: 1.2em;
  }
  .title {
    font-size: 21px;
  }
  .header .promo-header .promo-header__item p {
    font-size: 1em;
  }
  .advantages .row .advantages__item {
    display: block;
  }
  .advantages .row .advantages__item .img__wrapper{
    margin: 0 auto;
    width: 62px;
  }
  .advantages .row .advantages__item .advantages__wrapper .advantages__title{
    text-align: center;
    font-size: 1em;
  }
  .advantages .row .advantages__item .advantages__wrapper .advantages__descr{
    text-align: center;
    font-size: .9em;
  }
  .promo-work .promo-work__descr {
    font-size: .9em;
  }
  .promo-work .promo-work__item {
    width: 290px;
  }
  .promo-work .promo-work__item .promo-work__descr {
    width: 290px;
    font-size: .9em;
  }

  .promo-price .promo-price__item-header h2 {
    font-size: 1em;
  }
  .promo-price .promo-price__wrapper .promo-price__item-title {
    font-size: .9em;
  }
  .promo-price .promo-price__wrapper .promo-price__item-descr {
    font-size: 1em;
  }
  .consultation {
    height: 300px;
  .form__consultation-wrapper {
    height: 215px;
    margin-top: 0;
      .form__consultation-wrapper_mini {
        height: 165px;
        border-right: none;
        border-left: none;
        .glopt-form {
          margin: 0;
          margin-left: 4px;
          input {
            padding: 1rem;
          }
        }
      }
      .wrapper-img__linear {
        display: none;
      }
      .wrapper__consultation_linear {
        display: none;
      }
    }
  }
  .scheme-work{
    .scheme-work__item {
      .scheme-work__title{
        font-size: 1em;
      }
      .scheme-work__descr{
        font-size: .9em;
      }
    }
  }
  .reviews{
    .carousel{
      .calousel__title{
        font-size: 1em;
        line-height: 1em;
      }
      .carousel__descr{
        font-size: .9em;
      }
    }
  }
  .map .wrapper__info .map__info address span{
    font-size: 1.1em;
    line-height: 1.1em;
  }
  .map .wrapper__info .map__info address{
    font-size: .9em;
  }
  .map .wrapper__info .map__info .map__phone a{
    font-size: .9em;
    line-height: 1.5em;
  }
  .map .wrapper__info .map__info .map__email a{
    font-size: .9em;
  }
}