@import 'base/variables';

head {
  font-size: 10px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}


@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/promo-work';
@import 'blocks/linear';
@import 'blocks/agent-China';
@import 'blocks/promo-price';
@import 'blocks/consultation';
@import 'blocks/manager-company';
@import 'blocks/scheme-work';
@import 'blocks/reviews';
@import 'blocks/question';
@import 'blocks/map';
@import 'blocks/footer';



@import 'base/media';