.agent-China {
  background: url('../img/background/bg_agent-China.jpg') center (center/cover) no-repeat;
  padding: 3.7rem 0rem 4.2rem 0rem;
  .agent-China__wrapper {
    .agent-China__icon {
      width: 102px;
      height: 102px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1.0px solid #ffffff;
      border-radius: 100%;
      margin: 0 auto .7rem;
    }
    .agent-China__title {
      text-align: center;
      font-size: 1.3em;
      line-height: 1.15em;
      font-weight: 700;
      color: #ffffff;
    }
    .agent-China__descr {
      text-align: center;
      font-size: .95em;
      line-height: 1.35em;
      font-weight: 300;
      color: #ffffff;
    }
  }
}