.btn {
  display: block;
  padding: 0rem;
  width: 160px;
  height: 45px;
  background-color: $btn-color;
  border-radius: 50px;

  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  &:hover {
    background: $btn-hover;
    color: #ffffff;
  }
  &_big {
    width: 230px;
    height: 57px;
  }
  &_middle {
    width: 180px;
  }
}